.about-us-section {
  padding: 208px 92px 320px 92px;
  background-color: #d9d9d9;
  margin: 0 19rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "bear-grid founder" "community community-img";
  column-gap: 3.4rem;
  row-gap: 11rem;
}

/*FOUNDER*/
.bear-grid {
  grid-area: bear-grid;
}

.about-founder-description {
  grid-area: founder;
}

.about-founder-description__text {
  margin-top: 24px;
  line-height: 1.6;
}

/*COMMUNITY*/
.about-community-description {
  grid-area: community;
}

.about-community-description__image {
  max-height: auto;
  max-width: 100%;
  border: 20px solid #ffc0cb;
  box-sizing: border-box;
  box-shadow: 8px 8px 4px #00000040;
  grid-area: community-img;
}

.about-community-description__text {
  margin-top: 24px;
  line-height: 1.6;
}
