@font-face {
  font-family: "Saira";
  src: url("../fonts/Saira/static/Saira-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Saira";
  src: url("../fonts/Saira/static/Saira-Bold.ttf");
  font-weight: 700;
}

.booking-page-content {
  justify-content: center;
  margin: 200px auto 360px auto;
}

/* FORM GRID */

.booking-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-gap: 48px 16px;
  background-color: #00ffff;
  border: solid 1px #eddede;
  border-radius: 12px;
  padding: 48px 92px 66px;
  margin: 50px;
}

.booking-form__heading {
  grid-area: 1 / 1 / 2 / 3;
  font-weight: 700;
}

.first-name-container {
  grid-area: 2 / 1 / 3 / 2;
}

.last-name-container {
  grid-area: 2 / 2 / 3 / 3;
}

.email-container {
  grid-area: 3 / 1 / 4 / 2;
}

.phone-container {
  grid-area: 3 / 2 / 4 / 3;
}

.notes-container {
  grid-area: 4 / 1 / 5 / 3;
}

.booking-form__a {
  grid-area: 5 / 1 / 6 / 3;
  justify-self: center;
}

/* STYLING */

.booking-form__btn {
  width: 552px;
}

.booking-form__input {
  height: 64px;
  outline: none;
  padding: 0;
  border: solid 1px #ffffff;
}

.notes-input {
  height: 224px;
}

/* ANIMATIONS & TRANSITIONS */

.booking-form__input:focus:invalid {
  border: 2px solid red;
}

/* ADDING RESPONSIVNESS */

/* FOR SCREENS < 1100 PX */

@media (max-width: 1100px) {
  .booking-page-content {
    margin: 150px auto;
  }

  .booking-form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    row-gap: 20px;
    padding: 2rem;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .booking-form__heading {
    grid-area: 1 / 1 / 2 / 2;
    margin-bottom: 30px;
  }

  .first-name-container {
    grid-area: 2 / 1 / 3 / 2;
  }

  .last-name-container {
    grid-area: 3 / 1 / 4 / 2;
  }

  .email-container {
    grid-area: 4 / 1 / 5 / 2;
  }

  .phone-container {
    grid-area: 5 / 1 / 6 / 2;
  }

  .notes-container {
    grid-area: 6 / 1 / 7 / 2;
  }

  .booking-form__a {
    grid-area: 7 / 1 / 8 / 2;
  }

  .booking-form__btn {
    max-width: 400px;
  }

  .booking-form__input {
    min-width: 500px;
  }
}

/* FOR SCREENS < 600 PX */
@media (max-width: 600px) {
  .booking-form {
    margin: 0 50px;
  }

  .booking-form__input {
    min-width: 400px;
  }
}

/* FOR SCREENS < 480 PX */
@media (max-width: 480px) {
  .booking-page-content {
    background-color: #00ffff;
    margin: 0;
  }

  .booking-form {
    border: none;
    margin: 0;
    padding: 150px 20px;
  }

  .booking-form__btn {
    max-width: 200px;
  }

  .booking-form__input {
    min-width: 250px;
  }

  .fs-36 {
    font-size: 20px;
  }
}

/* SUCCESS PAGE */

.booking-success-content {
  height: 100vh;
  justify-content: center;
}

.success-container {
  color: #00ff88;
  text-align: center;
  font-size: 36px;
  padding: 3rem;
}

@media (max-width: 450px) {
  .success-container {
    margin-top: 7rem;
  }
}

.success-container__icon {
  margin: 16px 0;
}

.success-container__back {
  text-decoration: underline;
}
