@font-face {
    font-family: "Saira";
    src: url("../fonts/Saira/static/Saira-Regular.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Saira";
    src: url("../fonts/Saira/static/Saira-Bold.ttf");
    font-weight: 700;
  }