@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");

/*HERO*/
.home-hero-section {
  background-color: #000000;
  padding-top: 186px;
  padding-bottom: 260px;
  justify-content: center;
  flex-wrap: wrap;
}

.home-hero-section__heading {
  font-family: "Sigmar One", sans-serif;
  width: 33%;
  color: #ffc0cb;
}

.home-book-table-section {
  min-height: 80vh;
}

.home-book-table-section__image {
  width: 50%;
  height: 100%;
  border: 20px solid #ffc0cb;
  box-sizing: border-box;
  box-shadow: 8px 8px 4px #00000040;
}

/*FOOD AND SERVERS SECTION*/

.home-book-table-section {
  background-color: #d9d9d9;
  margin: 0 296px;
  padding: 294px 32px;
  gap: 82px;
  flex-wrap: wrap;
}

.home-restaurant-description-section {
  width: 36%;
  line-height: 1.6;
}

.home-restaurant-description-section__heading {
  position: relative;
}

.home-restaurant-description-section__heading::before {
  content: "";
  background: #00ffff;
  display: block;
  width: 4px;
  height: 147px;
  position: absolute;
  left: -16px;
  top: 15px;
}

.home-restaurant-description-section_book-btn {
  background-color: #00ffff;
  width: 386px;
  height: 84px;
  box-shadow: 4px 4px 4px #00000040;
  margin-top: 26px;
}

.home-restaurant-description-section_book-btn:hover {
  background-color: #03e7e7;
  cursor: pointer;
}

.home-restaurant-description-section_book-btn:active {
  background-color: #03e7e7;
  cursor: pointer;
}
