@font-face {
  font-family: "Italianno";
  src: url(../fonts/Italianno/Italianno-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

/* MENU SECTION */

.menu-page-content {
  justify-content: center;
}

.menu-section {
  padding: 0 64px 64px;
  margin: 200px 0 170px;
  border: #ffc0cb 12px solid;
  border-radius: 20px;
  flex-flow: column;
}

.menu-section__heading {
  font-family: "Italianno", cursive;
  font-size: 8rem;
  color: #ffc0cb;
  text-align: left;
  width: 100%;
  line-height: 160px;
  margin: 25px 0;
}

/* CATEGORIES - MAIN GRID */

.menu-section__categories {
  display: grid;
  grid-template-columns: repeat(2, 440px);
  grid-template-rows: repeat(5, 300px);
  gap: 64px;
}

.menu-section__categories--non-alcohol {
  grid-area: 1 / 1 / 2 / 2;
}

.menu-section__categories--alcohol {
  grid-area: 1 / 2 / 2 / 3;
}

.menu-section__categories--main {
  grid-area: 2 / 1 / 5 / 2;
}

.menu-section__categories--appetizers {
  grid-area: 2 / 2 / 3 / 3;
}

.menu-section__categories--salads {
  grid-area: 3 / 2 / 4 / 3;
}

.menu-section__categories--sauces {
  grid-area: 4 / 2 / 5 / 3;
}

.menu-section__categories--desserts {
  grid-area: 5 / 1 / 6 / 3;
}

/* CATEGORIES */

.menu-section__categories--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  border-radius: 12px;
}

.menu-section__categories--subheading {
  position: relative;
  bottom: 80px;
  left: 25px;
  font-size: 64px;
  text-align: left;
  color: #ffffff;
  font-family: "Italianno", cursive;
  transition: 500ms;
}

.category_style {
  cursor: pointer;
  outline: none;
  padding: 0;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 25%,
    rgba(255, 192, 203, 1) 100%
  );
  border: 12px solid #ffc0cb;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 1000ms, filter 500ms;
}

/* CALL ICON */

.home-book-table-section__call-icon {
  position: absolute;
  z-index: 0;
  right: 0;
}

.menu-page-content .home-book-table-section__call-icon--b202 {
  bottom: 618px;
}

/* ANIMATIONS */

.category_style:hover {
  transform: scale(1.03);
  filter: drop-shadow(0 0 0.75rem white);
}

.category_style:hover .menu-section__categories--img {
  opacity: 0.5;
  transition: 500ms;
}

.category_style:hover .menu-section__categories--subheading {
  transition: 500ms;
  text-shadow: 0 0 20px white;
}

/* for screens <1000px wide */

@media (max-width: 1000px) {
  /* GRID LAYOUT FOR SMALLER SCREENS*/
  .menu-section__categories {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 250px);
    gap: 50px;
  }

  .menu-section__categories--non-alcohol {
    grid-area: 1 / 1 / 2 / 2;
  }

  .menu-section__categories--alcohol {
    grid-area: 2 / 1 / 3 / 2;
  }

  .menu-section__categories--main {
    grid-area: 3 / 1 / 4 / 2;
  }

  .menu-section__categories--appetizers {
    grid-area: 4 / 1 / 5 / 2;
  }

  .menu-section__categories--salads {
    grid-area: 5 / 1 / 6 / 2;
  }

  .menu-section__categories--sauces {
    grid-area: 6 / 1 / 7 / 2;
  }

  .menu-section__categories--desserts {
    grid-area: 7 / 1 / 8 / 2;
  }

  /* STYLE FOR SMALLER SCREENS */

  .menu-page-content {
    background-color: black;
  }

  .menu-section {
    border: none;
    padding: 150px 20px;
    margin: 0;
  }

  .menu-section__heading {
    text-align: center;
    margin: 0;
  }

  .menu-section__categories {
    max-width: 350px;
  }

  .menu-section__categories--subheading {
    font-size: 3.5rem;
    text-align: center;
    position: relative;
    bottom: 80px;
    left: 0;
    text-wrap: nowrap;
  }
}
