@font-face {
  font-family: "Italianno";
  src: url(../fonts/Italianno/Italianno-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

/* MENU SECTION */

.menu-page-content {
  justify-content: center;
}

.menu-section {
  padding: 0 64px 64px;
  margin: 200px 0 170px;
  border: #ffc0cb 12px solid;
  border-radius: 20px;
}

.menu-section__heading {
  font-family: "Italianno", cursive;
  font-size: 128px;
  color: #ffc0cb;
  text-align: left;
  line-height: 160px;
  margin: 25px 0;
}

/* CATEGORIES - MAIN GRID */

.menu-section__categories {
  display: grid;
  grid-template-columns: repeat(2, 440px);
  grid-template-rows: repeat(5, 300px);
  gap: 64px;
}

.menu-section__categories--non-alcohol {
  grid-area: 1 / 1 / 2 / 2;
}

.menu-section__categories--alcohol {
  grid-area: 1 / 2 / 2 / 3;
}

.menu-section__categories--main {
  grid-area: 2 / 1 / 5 / 2;
}

.menu-section__categories--appetizers {
  grid-area: 2 / 2 / 3 / 3;
}

.menu-section__categories--salads {
  grid-area: 3 / 2 / 4 / 3;
}

.menu-section__categories--sauces {
  grid-area: 4 / 2 / 5 / 3;
}

.menu-section__categories--desserts {
  grid-area: 5 / 1 / 6 / 3;
}

/* CATEGORIES */

.menu-section__categories--img {
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 12px;
}

.menu-section__categories--subheading {
  position: relative;
  bottom: 80px;
  left: 25px;
  font-size: 64px;
  text-align: left;
  color: #ffffff;
  font-family: "Italianno", cursive;
  transition: 500ms;
}

.category_style {
  cursor: pointer;
  outline: none;
  padding: 0;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 25%,
    rgba(255, 192, 203, 1) 100%
  );
  border: 12px solid #ffc0cb;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 1000ms, filter 500ms;
}

/* CALL ICON */

.menu-page-content .home-book-table-section__call-icon--b202 {
  bottom: 618px;
}

/* ANIMATIONS */

.category_style:hover {
  transform: scale(1.03);
  filter: drop-shadow(0 0 0.75rem white);
}

.category_style:hover .menu-section__categories--img {
  opacity: 0.5;
  transition: 500ms;
}

.category_style:hover .menu-section__categories--subheading {
  transition: 500ms;
  text-shadow: 0 0 20px white;
}
