@font-face {
  font-family: "Saira";
  src: url("../fonts/Saira/static/Saira-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Saira";
  src: url("../fonts/Saira/static/Saira-Bold.ttf");
  font-weight: 700;
}

html {
  scroll-padding-top: 20px;
}

body {
  font-family: "Saira", sans-serif;
  font-weight: 400;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HELPER CLASSES */
.bg-black {
  background-color: #000000;
}

.fs-64 {
  font-size: 64px;
}

.fs-40 {
  font-size: 40px;
}

.fs-36 {
  font-size: 36px;
}

.fs-24 {
  font-size: 24px;
}

.fw-700 {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.primary-btn {
  color: white;
  background-color: #ffc0cb;
  text-transform: uppercase;
  border-radius: 20px;
  font-family: "Saira", sans-serif;
  border: none;
  font-size: 32px;
  font-weight: 700;
  transition-property: background-color;
  transition-duration: 500ms;
}

.form-btn {
  height: 58px;
  background-color: #1b52df;
  color: #ffffff;
  font-family: "Saira", sans-serif;
  font-weight: 400;
  border: none;
  transition-property: background-color;
  transition-duration: 500ms;
  box-sizing: border-box;
}

.position-relative {
  position: relative;
}

.d-flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.form-btn:hover {
  background-color: #1949c4;
  cursor: pointer;
}

/*NAVIGATION*/
.header {
  width: 100%;
  height: 112px;
  position: fixed;
  top: 0;
  z-index: 1;
  padding-right: 60px;
  box-sizing: border-box;
}

.navbar-list {
  list-style-type: none;
  width: 100%;
  height: 112px;
  justify-content: flex-end;
  gap: 64px;
  position: relative;
}

.navbar-list__paw-link {
  position: absolute;
  z-index: 2;
  top: 28px;
  left: 64px;
}

.navbar-list__paw-icon {
  max-width: 48px;
  max-height: 48px;
  transition: transform 1000ms, filter 1000ms;
}

.navbar-list__paw-icon:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 0.75rem white);
}

.navbar-list__link {
  color: white;
  text-decoration: none;
}

.navbar-list__link::after {
  transform: scaleX(0);
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: white;
  transition-property: transform;
  transition-duration: 1000ms;
}

.navbar-list__link:hover::after {
  transform: scaleX(1);
}

.navbar-list__order-now-btn {
  height: 64px;
  width: 264px;
}

.navbar-list__order-now-btn:hover {
  background-color: #daa5ad;
  cursor: pointer;
}

.navbar-list__order-now-btn:active {
  background-color: #daa5ad;
  cursor: pointer;
}

/*LOGO*/
.bear-logo {
  max-width: 524px;
  max-height: 296px;
  width: 100%;
  height: 100%;
}

/*Call us icon*/
.home-book-table-section__call-icon {
  position: absolute;
  z-index: 0;
  right: 0;
  transition-property: fill;
  transition-duration: 500ms;
}

.home-book-table-section__call-icon--b202 {
  bottom: 202px;
}

.home-book-table-section__call-icon:hover {
  cursor: pointer;
}

/*FOOTER*/
.footer {
  height: 94px;
  color: white;
  justify-content: space-between;
  padding: 0 44px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer__rights-reserved {
  font-size: 32px;
}

.footer__icon {
  width: 48px;
  height: 48px;
}

.footer__icon:hover {
  cursor: pointer;
}

.footer__icon--mr-26 {
  margin-right: 26px;
}
