@font-face {
  font-family: "Saira";
  src: url("../fonts/Saira/static/Saira-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Saira";
  src: url("../fonts/Saira/static/Saira-Bold.ttf");
  font-weight: 700;
}

html {
  scroll-padding-top: 20px;
}

body {
  font-family: "Saira", sans-serif;
  font-weight: 400;
  min-height: 100%;
}

/* HELPER CLASSES */
.bg-black {
  background-color: #000000;
}

.fs-64 {
  font-size: 2.25rem;
}

.fs-40 {
  font-size: 2rem;
}

.fs-36 {
  font-size: 1.7rem;
}

.fs-32 {
  font-size: 1.2rem;
}

.fs-24 {
  font-size: 1rem;
}

.fw-700 {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.primary-btn {
  color: white;
  background-color: #ffc0cb;
  text-transform: uppercase;
  border-radius: 20px;
  font-family: "Saira", sans-serif;
  border: none;
  font-weight: 700;
  transition-property: background-color;
  transition-duration: 500ms;
}

.form-btn {
  height: 58px;
  background-color: #1b52df;
  color: #ffffff;
  font-family: "Saira", sans-serif;
  font-weight: 400;
  border: none;
  transition-property: background-color;
  transition-duration: 500ms;
  box-sizing: border-box;
}

.position-relative {
  position: relative;
}

.d-flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.form-btn:hover {
  background-color: #1949c4;
  cursor: pointer;
}

/*NAVIGATION*/

.header {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 1;
  box-sizing: border-box;
}

.navbar-list {
  list-style-type: none;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
  padding: 20px 5px;
  box-sizing: border-box;
}

.navbar-list__link {
  color: white;
  text-decoration: none;
}

.navbar-list__order-now-btn {
  max-height: 80px;
  max-width: 100px;
  padding: 10px 25px;
  color: transparent;
}

.navbar-list__order-now-icon {
  margin: auto;
  vertical-align: middle;
  width: 48px;
  height: 48px;
  fill: #ffffff;
}

/*LOGO*/
.bear-logo {
  max-width: 70%;
  height: auto;
}

/*Call us icon*/
.home-book-table-section__call-icon {
  position: absolute;
  z-index: 0;
  right: 0;
  transition-property: fill;
  transition-duration: 500ms;
}

.home-book-table-section__call-icon--b202 {
  bottom: 202px;
}

.home-book-table-section__call-icon:hover {
  cursor: pointer;
}

/*FOOTER*/
.footer {
  max-height: 80px;
  height: auto;
  color: white;
  justify-content: space-between;
  padding: 23px 44px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer__icon-container {
  gap: 15px;
}

.footer__icon {
  width: 30px;
  height: 30px;
}

@media only screen and (min-width: 800px) and (max-width: 1019px) {
  .bear-logo {
    max-width: 80%;
    height: auto;
  }
}

@media only screen and (min-width: 1020px) {
  .fs-64 {
    font-size: 4rem;
  }

  .fs-40 {
    font-size: 2.5rem;
  }

  .fs-36 {
    font-size: 2.25rem;
  }

  .fs-32 {
    font-size: 2rem;
  }

  .fs-24 {
    font-size: 1.5rem;
  }

  /*NAVIGATION*/
  .header {
    padding-right: 60px;
  }

  .navbar-list {
    list-style-type: none;
    width: 100%;
    height: auto;
    justify-content: flex-end;
    gap: 64px;
    position: relative;
  }

  .navbar-list__paw-link {
    position: absolute;
    z-index: 2;
    top: 28px;
    left: 64px;
  }

  .navbar-list__paw-icon {
    max-width: 48px;
    max-height: 48px;
    transition: transform 1000ms, filter 1000ms;
  }

  .navbar-list__paw-icon:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 0.75rem white);
  }

  .navbar-list__link::after {
    transform: scaleX(0);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
    transition-property: transform;
    transition-duration: 1000ms;
  }

  .navbar-list__link:hover::after {
    transform: scaleX(1);
  }

  .navbar-list__order-now-btn {
    max-width: 100%;
    height: auto;
    color: #ffffff;
    font-size: 32px;
  }

  .navbar-list__order-now-btn:hover {
    background-color: #daa5ad;
    cursor: pointer;
  }

  .navbar-list__order-now-btn:active {
    background-color: #daa5ad;
    cursor: pointer;
  }

  .navbar-list__order-now-icon {
    display: none;
  }

  /*LOGO*/
  .bear-logo {
    max-width: 524px;
    width: 100%;
    height: auto;
  }

  /*FOOTER*/
  .footer__icon-container {
    gap: 26px;
  }

  .footer__icon {
    width: 48px;
    height: 48px;
  }

  .footer__icon:hover {
    cursor: pointer;
  }
}
